/* -------------- Header -------------- */

header{
    background-color: #2E2E2E;
    color: white;
}

header a {
    color: white;
}

strong{
    font-weight: 600;
}

/* -------------- Details -------------- */

.boxDetail{
    height: 100%;
    align-items: flex-start;

}

.contentDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.subDetail{
    margin-right: 0;
    padding-block: 0;
    margin-left: 40px;
}

.hlineDetail:after{
    width: 50px;
    height: 5px;
    background-color: #2E2E2E;
    content: "";    width: 2px;
    height: 190px;
    background-color: #2E2E2E;
    content: "";
    align-self: flex-start;
    margin-left: 20px;
    margin-top: -190px;
}

.presentationDetail{
    background-color: #E2B1FF;
    color: #2E2E2E;
    padding: 40px;
    width: fit-content;
    
}

.fullPicture{
    width: 100%;
    height: 100vh;
    padding: 0;
}

.titleDetail{

    font-size: 55px;
}

#explDetail{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    height: 100vh;
    justify-content: center;
}

#explanationDetail{
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5em;
    width: 550px;
    text-align: justify;
}
#backButton{
    border-radius: 40px;
    padding: 10px;
    color: white;
    background: #2E2E2E;
    font-size: 12px;
    width: fit-content;
}

.subtitle{
    color:#2E2E2E;
}

#presentationGallery{
    margin-right: 0;
}

.imageDetail{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#detailContent {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

/* -------------- sliders -------------- */


#precedent,
#suivant {
    cursor: pointer;
    transition: opacity 0.3s ease;
    opacity: 0;
    position: absolute;
    font-size: 100px;
    color: rgba(220, 220, 220, 0.8);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
}

#slider a {
    align-self: center;
    z-index: 10;
    color: white;
    cursor: pointer;
    position: relative;
}
.prev {

    right: -30px;
}
.next{
    right: 30px;
}

.numbertext{
    width: 45px;
    z-index: 10;
    margin: 0;
    color: white;
    align-self: flex-start;
    position: relative;
    top: 20px;
    left: 70px;
}

#precedent {
    left: 0;
}

#suivant {
    right: 0;
}

#slider:hover #precedent,
#slider:hover #suivant {
    opacity: 1;
}

.material-icons{
    cursor: pointer;
    transform: rotate(90deg);
    opacity: 1;
}

.swiper {
    width: 600px;
    height: 450px;
    margin: 0 !important;
  }

.swiper-button-next, .swiper-button-prev {
    color: white  !important;
}

#detailGroupe{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* margin-block: 20px; */
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}
.backButton{
    align-self: start;
    padding-inline: 30px;
    padding-block: 20px;
}

/* ----------------------------------------- RESPONSIVE --------------------------------------- */

@media  screen and (device-width: 640px), 
        screen and (max-width: 640px) {
        
        body{
            scroll-snap-type: none;
        }
        header{
            width: 55px;
        }
        .fullPicture{
            display: none;
        }
        #detailGroupe{
            flex-direction: column;
            justify-content: center;
        }
    
        .swiper{
            width: 300px;
            border-radius: 150px;
            height: 300px;
        }
        .titleDetail{
            font-size: 15px;
        }
        .presentationDetail{
            display: none;
        }
        .hlineDetail:after{
            display: none;
        }
        p{
            margin-bottom: 0;
            margin-inline: 20px;
        }
        .subDetail{
            display: none;
        }
        .backButton{
           padding: 0;
           margin: 20px;
           font-size: 14px;
        }
        #explanationDetail{
            font-size: 13px;
            width: 100%;
        }
        #explDetail{
            display: none;
        }
        .swiper-button-prev::after, .swiper-button-next::after{
            font-size: 20px !important ;
        }
        #detailContent{
            height: 100%;
        }
        .boxDetail{
            margin-block: 20px;
        }
        .snap{
            scroll-snap-align: unset;
        }
        .menuNav ul li a {
            font-size: 13px;
        }
                
}

@media  screen and  (min-width: 641px) and (max-width: 960px)  {
    
    header{
        width: 55px;
    }
    .fullPicture{
        display: none;
    }
    #detailGroupe{
        flex-direction: column;
        justify-content: center;
    }

    .swiper{
        width: 300px;
        border-radius: 150px;
        height: 300px;
    }
    .titleDetail{
        font-size: 15px;
    }
    .presentationDetail{
        display: none;
    }
    .hlineDetail:after{
        display: none;
    }
    p{
        margin-bottom: 0;
        margin-inline: 20px;
    }
    .subDetail{
        display: none;
    }
    .backButton{
       padding: 0;
       margin-inline: 20px;
       margin-bottom: 20px;
       font-size: 14px;
    }
    #explanationDetail{
        font-size: 13px;
        width: 100%;
    }
    #explDetail{
        display: none;
    }
    .swiper-button-prev::after, .swiper-button-next::after{
        font-size: 20px !important ;
    }
}
@media  screen and (min-width: 767px) and (max-width: 1023px) {
    
    header{
        width: 55px;
    }
    .fullPicture{
        display: none;
    }
    #detailGroupe{
        flex-direction: row;
        justify-content: space-evenly;
    }

    .swiper{
        width: 300px;
        border-radius: 150px;
        height: 300px;
    }
    .titleDetail{
        font-size: 15px;
    }
    .presentationDetail{
        display: none;
    }
    .hlineDetail:after{
        display: none;
    }
    p{
        margin-bottom: 0;
        margin-inline: 20px;
    }
    .subDetail{
        display: none;
    }
    .backButton{
       padding: 0;
       margin-inline: 20px;
       margin-bottom: 20px;
       font-size: 14px;
    }
    #explanationDetail{
        font-size: 15px;
        width: 50%;
    }
    #explDetail{
        display: none;
    }
    .swiper-button-prev::after, .swiper-button-next::after{
        font-size: 20px !important ;
    }

}
@media  screen and (min-width: 1024px) and (max-width: 1440px) {
    .titleDetail{
        font-size: 40px;
    }
    .hlineDetail:after{
        height: 165px;
        margin-top: -165px;
    }
    .swiper{
        width: 450px;
        height: 350px;
    }
    #explanationDetail{
        font-size: 15px;
        width: 50%;
        font-size: 16px;
    }
}
@media  screen and (min-width: 1441px) and (max-width: 1960px) {

}
@media  screen and (min-width: 1961px) and (max-width: 2560px) {
    .titleDetail{
        font-size: 105px;
    }
    .hlineDetail:after{
        margin-top: -255px;
        height: 255px;
    }
    .subtitle{
        font-size: 25px;
    }
    .swiper{
        width: 1000px;
        height: 750px;
    }
    #explanationDetail{
        font-size: 35px;
        width: 1000px;
    }
    .backButton{
        font-size: 30px;
        padding: 50px;
    }
}
@media  screen and (width: 1920px) and (height : 1080px) {
    .titleDetail{
        font-size: 75px;
    }
    .subtitle{
        font-size: 20px;
    }
    .hlineDetail:after{
        margin-top: -220px;
        height: 220px;
    }
    .swiper{
        width: 800px;
        height: 600px;
    }
    #explanationDetail{
        font-size: 30px;
        width: 800px;
    }
    .backButton{
        font-size: 25px;
        padding: 30px;
    }
}
