

/* ------------ TYPOGRAPHIES ------------ */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;800&display=swap');


/* -------------- ANIMATIONS -------------- */
@keyframes slideIn {
    from{
        right: -3000px;
    }
    to{
        right: 0px;
    }
}


@keyframes slideOut {
    from{
        right: 0px;
    }
    to{
        right: -3000px;
    }
}


/* -------------- GENERAL -------------- */

html,
body{
    width: 100%;
    height: 100%;
    margin: 0;
    scroll-snap-type: y mandatory;

}

body{
    background-color: #FAFAFA;
    color: #2E2E2E;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5em;
    overflow-x: hidden;
}

.noOverflow{
    overflow-y: hidden;
}


a {
    text-decoration: none;
    color: #2E2E2E;
}
abbr{
    text-decoration: none;
}
a:hover {
    color: lightblue;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

.mediumSpacement{
    letter-spacing: 0.1em;
}

strong{
    font-weight: 600;
}

/* -------------- header -------------- */

header{
    background-color: white;
    padding-block: 10px;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 15;
    transition: 0.2s;
    
}

#navBar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-inline: 50px;
    transition: top 0.3s;

}

header h1,h2{
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

header h2{
    font-weight: 400;
}

.filterMode{
    opacity: 0.5;
}

/* -------------- Menu -------------- */
#menuOpen{
    background-color: white;
    display: flex;
    padding: 40px;
    width: 405px;
    height: 90%;
    flex-direction: column;
    position: fixed;
    top: 0px;
    z-index: 20;
}

.hidden{
    right: -3000px !important;
}

.hiddenOut{
    animation: slideOut 0.5s ease-out forwards;
}

.visible{
    animation: slideIn 0.5s ease-out forwards;
}

.menuNav{
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    padding: 25px;
    font-weight: 400;  
}

#nav{
    display: flex;
    flex-direction: row;
}

#close{
    align-self: flex-end;
    font-family: 'Arial';
    font-size: 25px;
}

#sideNav{
    position: fixed;
    height: 100vh;
    top: 0;
    display: flex;
    margin-inline: 50px;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
  
}


.hiddenNav{
    opacity: 0;
    transition: ease-out ;
    -webkit-transition-duration: 0.75s;
    transition-duration:  0.75s; 
}

.visibleNav{
    opacity: 1;
    transition: ease-out ;
    -webkit-transition-duration: 0.75s;
    transition-duration:  0.75s; 
}

#sideNav ul{
    display: flex;
    /* align-self: center; */
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
}


/* -------------- Main -------------- */

.boxGeneral{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}

.titleGeneral{
    margin-block: 0;
    font-weight: 700;
    font-size: 65px;
    line-height: initial;
    text-align: end;
}

.subtitle{ 
    font-size: 15px;
    font-weight: 400;
    color: #ffd6d6;
}


.pictureGeneral{
    object-fit: cover;
    width: inherit;
    height: inherit;
    object-position: center;
   
}


.paraGeneral{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5em;
    text-align: justify;
}

.hline{
    background-color:#b8fff3;
}

/* -------------- About -------------- */

#contentAbout{
    display: flex;
    padding-inline: 220px;
    margin-top: 100px;
    z-index: 8;
}

#pictureAbout{
    width: 420px;
    height: 330px;
    margin-right: 40px;
}

#titleAbout{
    margin-block: 0;
    font-weight: 700;
    font-size: 67px;
    color: white;
    line-height: initial;
    letter-spacing: 0.02em
}
#titleAbout abbr {
    text-decoration: underline;
}

.paraAbout{
    margin-bottom: 0;
}

.material-icons{
    opacity: 0;
}

.animEnter{
    opacity: 1;
    margin-top: 20px;
    transition: ease-out ;
    -webkit-transition-duration: 0.75s;
    transition-duration:  0.75s; ;

}

/* -------------- Skills -------------- */

#skillSection{
    flex-direction: row;
    background-color: #d6fff3;
    padding-inline: 150px;
}
.boxSkill{
    background-color: white;
    width: 230px;
    height: 65vh;
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: center;
}
.line{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
}

.line:after{
    width: 50px;
    height: 5px;
    background-color:#d6fff3;
    content: "";
    z-index: 10;
    margin-top: 10px;
}
.paraSkill{
    font-weight: 400;
    line-height: 1.5em;
    font-size: 15px;
    text-align: center;
}

/* -------------- Gallery -------------- */


.contentGallery {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding-inline: 200px;

}

.shapePictureGallery{
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    padding: 20px;

    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.shapePictureGallery:hover,  .shapePictureGallery:focus, .shapePictureGallery:active{
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
}

.presentationGallery{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-right: -100px;
    z-index: 10;
    width: 500px;
}

.right{
    text-align: end;
}

.hlineGallery{
    width: 200px;
    display: flex;
    justify-content: flex-end;
    align-self: center;
    border-bottom: solid;
    border-bottom-width: thin;
}

.hlineGallery span{
    margin-bottom: 10px;
    font-weight: 400;
}

#detailButton{
    border-radius: 40px;
    padding: 5px;
    width: 25px;
    margin-top: -50px;
    background-color: white;
    font-weight: 700;
    text-align: center;
    z-index: 10;
}

.shapePictureGallery:hover + #detailButton, #detailButton:hover{
    display: inline-block ;
}



/* -------------- TEST SCROLL  -------------- */

.snap{
    /*scroll-snap-type: y mandatory;*/	
    scroll-snap-align: start;

}

/* -------------- ALTERNATE DIV  -------------- */
.alternate {
    flex-direction: row;
}
.alternate .titleGeneral{
    text-align: start;
}
.alternate .paraGeneral{
    text-align: start;
}
.alternate .presentationGallery{
    margin-right: 0;
    margin-left: -100px;
}
.alternate .hlineGallery{
    justify-content: flex-start;
}
.leftButton{
    align-self: flex-start;
    margin-right: 0;
    margin-left: 30px;
}
.rightButton{
    align-self: flex-end;
    margin-right: 30px;
    margin-left: 0;
}

/* -------------- Y OFFSET MENU  -------------- */
.basicMenu{
    font-weight: 400;
    color: #d4d4d4;
}
.currentMenu{
    font-weight: 800;
    color: #2E2E2E;
}

.bold{
    font-weight: 800;
}


#sideNav ul li a:hover{
    color: lightblue;
}
.menuNav ul li a{
    font-size: 15px;
}

/* ----------------------------------------- RESPONSIVE --------------------------------------- */

@media only screen and (max-width: 424px) {

header {
    width: 55px;
    position: fixed;
    display: flex;
    justify-content: center;
    margin: 10px;
    border-radius: 10px;
    background-color: #2e2e2e;
}

header h1{
    display: none;
}
header h2 {
    font-size: 14px;
    color: white;
}
header h1, h2{
    font-size: 16px;
}
ul{
    font-size: 13px;
}
a{
    color: unset;
}
abbr{
    text-decoration: none;
}
#navBar{
    padding-inline: 20px;
}
#nav{
    flex-direction: column;
}
.snap{    
    scroll-snap-align: start;
}

#menuOpen{
    width: 100vw;
    height: 100vh;
    padding: 30px;
    display: flex;
    text-align: end;
    align-items: center;
}
#close{
    align-self: flex-end;
    font-size: 20px;
    margin-right: 20px;
}

.menuNav{
    padding: 15px;
    width: 90%;
    align-items: start;
    text-align: start;
}
#contentAbout{
    margin-top: 0;
    flex-direction: column;
    padding-inline: 40px;
}

#titleAbout{
    font-size: 18px;
}

#pictureAbout{
    width: auto;
    height: 200px;
    margin-right: 0;
    margin-bottom: 20px
}
.material-icons
{
    display: none!important;
}

.paraGeneral{
    font-size: 13px;
    margin: 0;
}

#skillSection{
    height: auto;
    flex-direction: column;
    padding-inline: 20px;
    padding-block: 10px;
}
.boxSkill{
    margin: 20px;
    align-self: center;
    justify-content: center;
    height: 75vh;
    padding: 30px;
    scroll-snap-align: center;
}
.paraSkill{
    font-size: 13px;
}
.contentGallery{
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    padding-inline: 0;
    width: 100%;
}
.shapePictureGallery{
    padding: 0;
    width: 280px;
    height: 280px;
}
.pictureGallery{
    border-radius: 150px;
}
.paraGallery{
    text-align: center;
}
.presentationGallery{
    width: 100%;
    margin:0;
}

.presentationGallery p{
    padding-inline: 20px;
}
.boxGeneral{
    justify-content: center;
}
.titleGeneral{
    font-size: 23px;
    margin-top: 0;
    padding: 20px;
    font-weight: 800;
    text-align: center;
}
.alternate .presentationGallery{
    margin:0;
}
.alternate .paraGeneral{
text-align: center;
}
.alternate .titleGeneral{
    text-align: center;
}
#sideNav{
    display: none;
}
.menuNav ul li a {
    font-size: 13px;
}



}

@media  screen and (min-width: 425px) and (max-width: 767px) {


    header {
        width: 55px;
        position: fixed;
        display: flex;
        justify-content: center;
        margin: 10px;
        border-radius: 10px;
        background-color: #2e2e2e;
    }
    header h1{
        display: none;
    }
    header h2 {
        font-size: 14px;
        color: white;
    }
    header h1, h2{
        font-size: 16px;
    }
    ul{
        font-size: 13px;
    }
    a{
        color: unset;
    }
    #navBar{
        padding-inline: 20px;
    }
    
    #nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    .snap{    
        scroll-snap-align: start;
    }
    
    #menuOpen{
        width: 100vw;
        height: 100vh;
        padding: 20px;
        display: flex;

    }
    #close{
        align-self: flex-end;
        font-size: 20px;
        margin-right: 20px;
    }
    
    .menuNav{
        padding: 15px;
        width: 70%;
    }
    .menuNav h2{
        font-size: 18px;
    }
    .menuNav ul li a{
        font-size: 15px;
    }

    #contentAbout{
        margin-top: 0;
        flex-direction: column;
        padding-inline: 40px;
    }
    
    #titleAbout{
        font-size: 20px;
        padding: 10px;
    }
    
    #pictureAbout{
        width: auto;
        height: 260px;
        margin-right: 20px;
        margin-bottom: 0;
    }
    .material-icons
    {
        display: none!important;
    }
    
    .paraGeneral{
        font-size: 14px;
        margin: 0;
    }
    
    #skillSection{
        height: auto;
        flex-direction: column;
        padding-inline: 20px;
        padding-block: 10px;
    }
    .boxSkill{
        margin: 20px;
        align-self: center;
        justify-content: center;
        height: 75vh;
        padding: 40px;
        scroll-snap-align: center;
    }
    .paraSkill{
        font-size: 13px;
    }
    .contentGallery{
        flex-direction: column;
        justify-content: unset;
        align-items: center;
        padding-inline: 0;
        width: 100%;
    }
    .shapePictureGallery{
        padding: 0;
        width: 330px;
        height: 330px;
    }
    .pictureGallery{
        border-radius: 180px;
    }
    .paraGallery{
        text-align: center;
    }
    .presentationGallery{
        width: 100%;
        margin:0;
    }
    
    .presentationGallery p{
        padding-inline: 20px;
    }
    .boxGeneral{
        justify-content: center;
    }
    .titleGeneral{
        font-size: 22px;
        margin-top: 0;
        padding-block:20px;
        padding-inline: 10px;
        font-weight: 800;
        text-align: center;
    }
    .alternate .presentationGallery{
        margin:0;
    }
    .alternate .paraGeneral{
    text-align: center;
    }
    .alternate .titleGeneral{
        text-align: center;
    }
    #sideNav{
        display: none;
    }

    [data-aos^=fade][data-aos^=fade] {
        opacity: 1!important;
        transition-property: none !important;
    }
    [data-aos=fade-down]{
        transform: none !important;
    }

}

@media  screen and (min-width: 768px) and (max-width: 1024px) {

    header {
        width: 55px;
        position: fixed;
        display: flex;
        justify-content: center;
        margin: 10px;
        border-radius: 10px;
        background-color: #2e2e2e;
    }
    header h1{
        display: none;
    }
    header h2 {
        font-size: 14px;
        color: white;
    }
    header h1, h2{
        font-size: 16px;
    }
    ul{
        font-size: 13px;
    }
    a{
        color: unset;
    }
    #navBar{
        padding-inline: 20px;
    }
    
    #nav{
    display: flex;
    justify-content: space-evenly;
    align-items: none;
    flex-direction: row;
    }
    .snap{    
        scroll-snap-align: start;
    }
    
    #menuOpen{
        width: 405px;
        height: 100vh;
        padding: 20px;
        display: flex;

    }
    #close{
        align-self: flex-end;
        font-size: 20px;
        margin-right: 20px;
    }
    
    .menuNav{
        padding: 15px;
        width: fit-content;
    }
    .menuNav h2{
        font-size: 18px;
    }
    .menuNav ul li a{
        font-size: 15px;
    }

    #contentAbout{
        margin-top: 0;
        flex-direction: row;
        padding-inline: 40px;
    }
    
    #titleAbout{
        font-size: 38px;
    }
    
    #pictureAbout{
        width: auto;
        height: 260px;
        margin-right: 20px;
        margin-bottom: 0;
    }
    .material-icons
    {
        display: none!important;
    }
    
    .paraGeneral{
        font-size: 14px;
        margin: 0;
    }
    
    #skillSection{
        height: auto;
        flex-direction: column;
        padding-inline: 20px;
        padding-block: 10px;
    }
    .boxSkill{
        margin: 20px;
        align-self: center;
        justify-content: center;
        height: 75vh;
        padding: 40px;
        scroll-snap-align: center;
    }
    .paraSkill{
        font-size: 13px;
    }
    .contentGallery{
        flex-direction: column;
        justify-content: unset;
        align-items: center;
        padding-inline: 0;
        width: 100%;
    }
    .shapePictureGallery{
        padding: 0;
        width: 330px;
        height: 330px;
    }
    .pictureGallery{
        border-radius: 180px;
    }
    .paraGallery{
        text-align: center;
    }
    .presentationGallery{
        width: 80%;
        margin:0;
    }
    
    .presentationGallery p{
        padding-inline: 20px;
    }
    .boxGeneral{
        justify-content: center;
    }
    .titleGeneral{
        font-size: 28px;
        margin-top: 0;
        padding-block: 20px;
        padding-inline: 10px;
        font-weight: 800;
        text-align: center;
    }
    .alternate .presentationGallery{
        margin:0;
    }
    .alternate .paraGeneral{
    text-align: center;
    }
    .alternate .titleGeneral{
        text-align: center;
    }
    #sideNav{
        display: none;
    }

    [data-aos^=fade][data-aos^=fade] {
        opacity: 1!important;
        transition-property: none !important;
    }
    [data-aos=fade-down]{
        transform: none !important;
    }
}

@media  screen and (min-width: 1025px) and (max-width: 1240px) {
    header{
        width: 100vw;
    }

    #pictureAbout{
        width: auto;
        height: 280px;
        margin-right: 20px;
        margin-bottom: 0;
    }
    #titleAbout{
        font-size: 55px;
    }
    .paraGeneral{
        font-size: 15px;
    }
    #contentAbout{
        padding-inline: 80px;
    }
    #skillSection{
        padding-inline: 0;
    }
    .boxSkill{
        width: 220px;
        height: 65vh;
        padding: 35px;
    }
    .shapePictureGallery{
        width: 450px;
        height: 400px;
    }
    .titleGeneral{
        font-size: 50px;
    }
    .presentationGallery{
        width: 400px;
    }
    .paraSkill{
        font-size: 13px;
    }
    #close{
        align-self: start;
    }
    #menuOpen{
        width: 450px;
    }
}

@media  screen and (min-width: 1241px) and (max-width: 1440px) {
    .paraAbout{
        font-size: 19px;
    }
    .boxSkill{
        height: 70vh;
    }
    #titleAbout{
        font-size: 64px;
    }

}
@media  screen and (min-width: 1961px) and (max-width: 2560px) {
    #navBar{
        height: 50px;
        align-items: center;
    }
    header h1, h2{
        font-size: 30px;
    }
    #pictureAbout{
        width: 555px;
        height: auto;
        margin-right: 80px;
    }
    #contentAbout{
        padding-inline: 360px;
    }
    #titleAbout{
        font-size: 75px;
    }
    .paraGeneral{
        font-size: 36px;
    }
    .material-icons{
        font-size: 50px;
    }
    li{
        margin-bottom: 15px;
    }
    ul{
        margin-block: 50px;
    }
    .menuNav ul li a {
        font-size: 25px;
    }
    #close{
        font-size: 40px;
    }
    #menuOpen{
        width: 800px;
    }
    .boxSkill{
        width: 400px;
        height: 65vh;
        padding: 80px;
    }
    .paraSkill{
        font-size: 25px;
    }
    .presentationGallery{
        width: 1000px;
        margin-right: -150px;
    }
    .contentGallery{
        padding-inline: 0;
    }
    .shapePictureGallery{
        width: 1000px;
        height: 850px;
    }
    .titleGeneral{
        font-size: 115px;
    }
    #sideNav{
        font-size: 25px;
    }
    .alternate .presentationGallery{
        margin-left: -150px
    }
    li {
        margin-bottom: 10px;
    }
}

@media  screen and (min-width: 1441px) and (max-width: 1960px) {
}
@media  screen and (width: 1920px) and (height : 1080px) {
    #contentAbout{
        padding-inline: 200px;
    }
    #pictureAbout{
        width: 630px;
        height: auto;
    }
    #navBar{
        align-items: center;
        height: 40px;
    }
    header h1, h2{
        font-size: 25px;
    }
    .paraGeneral{
        font-size: 30px;
    }
    .menuNav ul li a {
        font-size: 20px;
    }
    li{
        margin-bottom: 10px;

    }
    .menuNav ul {
        margin-block: 30px;
    }
    #menuOpen{
        width: 600px;
    }
    .paraSkill{
        font-size: 22px;
    }
    .boxSkill{
        width: 340px;
        padding: 65px;
    }
    .shapePictureGallery{
        width: 900px;
        height: 700px;
    }
    .contentGallery{
        padding-inline: 0;
    }
    .presentationGallery{
        width: 800px;
    }
    .titleGeneral{
        font-size: 95px;
    }
    #sideNav{
        font-size: 25px;
    }
    
}

